#logo{
 display:none !important;
}

#header{
 display:none !important;
}

.redesigned-theme-2018 .wufoo li {
    padding: 0px !important;
}

.wufoo label.desc{
text-transform: uppercase !important;
letter-spacing: 3px !important;
 padding-bottom: 2px !important;
}

.wufoo legend.desc {
text-transform: uppercase !important;
letter-spacing: 3px !important;
 padding-bottom: 8px !important;
}

span.req {
 position:relative !important;
   left:-4px !important;
   top:6px !important; 
 color:#000 !important;
}

#req_220, #req_3, #req_219, #req_4{
color:#000 !important;
}



.redesigned-theme-2018 input.checkbox:checked+label.choice:before {
    background-color: #B87D23 !important;
 border-radius: 0px !important;
}

.redesigned-theme-2018 .subfield label.choice:before {
    border-radius: 0px !important;
  
}

.redesigned-theme-2018 input.checkbox:checked+label.choice:after {
   transform: scale(.7);
}

input.medium, select.medium {
    width: 100% !important;
}

    

.wufoo #saveForm {
 display: block;
    margin: 0 auto;
    float: none;
    padding: 0.5em 1.5em;
    border: none;
 border-radius:0px;
    background-color: #B87D23; /* Green or your preferred color */
    color: white;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .wufoo  #saveForm:hover {
    background-color: #4d7620;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.wufoo .info h2 {
    color: #676767 !important;
    text-align: center !important;
    font-size: 36px !important;
    font-family: reader-regular, sans-serif !important;
}
