.wufoo{
 font-family: reader-regular, sans-serif !important;
}
    

.wufoo #saveForm {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 999px; /* Full pill shape */
    background-color: #9ac133; /* Green or your preferred color */
    color: white;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .wufoo  #saveForm:hover {
    background-color: #4d7620;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.wufoo .info h2 {
    color: #000000 !important;
    text-align: center;
    font-family: reader;
    font-size: 36px !important;
    font-family: reader-regular, sans-serif;
}
